* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
/*    overflow: hidden;*/
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image .5s ease-in-out;
}


.time {
    font-size: 7rem;
}

.date, .greeting, .name {
    opacity: 1;
}

.focustoday, .focus {
    opacity: 0.8;
}

h2 {
    margin-bottom: 0.5rem;
/*    opacity: 0.8;*/
}


@media (max-width: 700px) {
    .time {
        font-size: 3rem;
    }
    h2 {
        font-size: 1rem
    }
    .text {
        font-size: 1rem;
    }
}

.btn_bg {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border: 0;
    background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
}

.btn_bg:hover {
    filter: grayscale(.8);
}

.btn_bg:active,
.btn_bg:focus {
    outline: 0;
}

.btn_bg:active {
    transform: scale(1.02)
}

.quote {
    max-width: 800px;
    font: 1.2rem Georgia, serif;
    margin: 0;
    background: #4c4c4c;
    padding: 1em;
    border-radius: 1em;
    display: flex;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

.quote figcaption {
    text-align: center;
}

.btn_quotes {
   width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border: 0;
    background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
}

.btn_quotes:hover {
   filter: grayscale(.8);
}

.btn_quotes:active,
.btn_quotes:focus {
    outline: 0;
}

.btn_quotes:active {
    transform: scale(1.12)
}


.weather_title {
    margin: 0;
}

.city {
    width: 200px;
    padding: 10px 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

